.details 
  if post == undefined
    //- this is a single post
    .published #{moment(publishDate).format("Do MMM YYYY")}
      if modifyDate && moment(publishDate).isBefore(modifyDate)
        span  - updated #{moment(modifyDate).format("Do MMM YYYY")}
    if tags && tags.length > 0
      .tags
        each tag, index in tags
          a(href="/blog/#{tag}").tag #{tag}
          if index != tags.length -1
            | , 
  else
    .published #{moment(post.publishDate).format("Do MMM YYYY")}
      if modifyDate && moment(publishDate).isBefore(modifyDate)
        span  - updated #{moment(modifyDate).format("Do MMM YYYY")}
    if post.tags && post.tags.length > 0
      .tags
        each tag, index in post.tags
          a(href="/blog/#{tag}").tag #{tag}
          if index != post.tags.length -1
            | , 
