doctype
html
  head
    title= title ? title + ' - ' + site.title : site.title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='//fonts.googleapis.com/css?family=Josefin+Sans:400,300,700' rel='stylesheet' type='text/css')
    link(href='/css/style.css' rel='stylesheet' type='text/css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
    script(src="/js/min/main-min.js")
    script(src="http://localhost:35729/livereload.js")
    link(rel="icon" type="image/png" href="images/favicon.png")
  body
    .bg
    canvas.bg2#bg2
    header.header
      .container.row
        .animated.fadeIn.header.taright.four.columns.vertmid
          h1.logo <a href="/">Eric Jinks</a>
          .info 
            //- span.cursor _
            .typed
              span web developer
              span musician
              span visual artist
              span web designer
              span sound designer
          nav.nav
            ul
              //- li
              //-   a(href="/code.html").code code
              //- li
              //-   a(href="/") projects
              li
                a(href="/blog") blog
              li
                a(href="/") about
          ul.social
            - var twitter = "twitter.com/jinksi"
            - var github = "github.com/jinksi"
            - var instagram = "instagram.com/jinksi"
            - var email = "ericjinks@gmail.com"
            li
              a(href="http://#{twitter}" title="#{twitter}").tooltip <i class="icon ion-social-twitter"></i>
              a(href="http://#{github}" title="#{github}").tooltip <i class="icon ion-social-github"></i>
              a(href="http://#{instagram}" title="#{instagram}").tooltip <i class="icon ion-social-instagram"></i>
              a(href="mailto#{email}" title="#{email}").tooltip <i class="icon ion-email"></i>
    .container.row.fullheight.no-pointer.vertmid
      .animated.fadeIn.eight.columns.content.offset-by-four
        block content
        
    .overlay-texture
