extends layout
block content
  .post-header
    h4.post-title= title
    .details #{author}, #{moment(publishDate).format("Do MMM YYYY")}
      if modifyDate && moment(publishDate).isBefore(modifyDate)
        span  - updated #{moment(modifyDate).format("Do MMM YYYY")}
    if tags && tags.length > 0
      .details.tags
        each tag, index in tags
          a(href="/blog/#{tag}").tag #{tag}
          if index != tags.length -1
            | , 
  .post-content      
    div!= contents

  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/monokai_sublime.min.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js")
  script hljs.initHighlightingOnLoad();
