extends layout

block content
  
    h1= title
    div.details By #{author} | Published #{moment(publishDate).format("M.D.YYYY")}
      if modifyDate && moment(publishDate).isBefore(modifyDate)
        span Updated #{moment(modifyDate).format("M.D.YYYY")}
    div!= contents
